@model RecruitmentPortal.Models.RequirementDetail
@{
    ViewBag.Title = "Delete Consultant";
}
<br />
<div class="row">
    <div class="col-md-10 col-xs-7">
        <h4>Delete this Consultant?</h4>
    </div>
    <div class="col-md-2 col-xs-5 text-right">
        @Html.ActionLink("Back to List", "Index", "RequirementDetail", new { requirementId = Model.RequirementId }, new { @class = "btn btn-sm btn-default" })
    </div>
</div>
<hr />
@using (var f = Html.Bootstrap().Begin(new Form()))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            @f.FormGroup().DisplayFor(model => model.Resource.ResourceName)         
            @f.FormGroup().DisplayFor(model => model.ReferredToClientDisplay)                        
            @f.FormGroup().DisplayFor(model => model.Notes)            
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            @f.FormGroup().DisplayFor(model => model.RecruiterId)
            @f.FormGroup().DisplayFor(model => model.CandidateSelectedDisplay)    
        </div>
    </div>
    @Html.Bootstrap().SubmitButton().Text("Delete").Class("btn btn-sm btn-default")
}